* {
  border: 1px solid black;
}
body {
  font-family: 'Comic Sans MS', cursive;
}
header h1 {
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

nav {
  text-align: center;
}

a {
  color: green;
  padding: 50px
}

#top-section {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

h1 {
  font-size: 20px;
}

.top-layout .bottom-layout {
  display: flex
  flex-wrap: wrap;
  }